<h1>Tracks</h1>

<div>
    <% trackResult.forEach(track => { %>
    
        <h4>Title: <%- track.name  %></h4>
        <audio controls>
            <source src="<%- track.preview_url  %>"></audio>
        </audio>
    

    <% }) %>
</div>
